extends layouts/_layout

block page-title
    title head 타이틀 | ㅇㅇㅇ회사

block snb__title
    p.title 서브 페이지 snb 타이틀

block config
    -
        var pageSort = "sub";
        var text_color = "666"; 
        var snvLoc = [
                        {dept1:menu.dp1[0].name , dept2:menu.dp1},  
                        {dept1:menu.dp1[0].dp2[0].name, dept2:menu.dp1[0].dp2},
                        {dept1:menu.dp1[0].dp2[0].dp3[0].name , dept2:menu.dp1[0].dp2[0].dp3},
                    ];
        var titleSec_title = "서브페이지 title-sec _ title";
        var titleSec_sub = "서브페이지 title-sec _ description";
        var dept4 = menu.dp1[0].dp2[0].dp3[0].dp4;
        var dept4_on = "0";
        var dept4_width = "1/2";
        var dept5 = menu.dp1[0].dp2[0].dp3[0].dp4[0].dp5;
        var dept5_on = "0";
        var dept5_width = "1/2";

block content
    h3 What is Lorem Ipsum?
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum