// 푸터
footer.footer
  .for-border.border-b-1-333
    .container
      ul.footer-nav
        li
          a.text-color-fff.font-bold(href='') 개인정보처리방침
        li
          a(href='') 이메일무단수집거부
        li
          a(href='') 방송광고 판매대행 약관
        li
          a(href='') 저작권정책
        li
          a(href='') 정부24
        li
          a(href='') 복지·부조금 부정 신고센터
        li
          a(href='') CLEAN 신고센터
        li
          a(href='') 뷰어다운로드
        li
          a(href='') 찾아오시는길
  .container
    .cf
      .footer-logo
        a(href='')
          img(src='images/common/logo_footer.png' alt='한국방송광고진흥공사')
      ul.content
        li 서울시 중구 ㅇㅇㅇㅇ
        li 대표전화 : 02-731-0000
        li 이메일 :ㅇㅇㅇ@kobaco.co.kr
        li.block.mt-3
          .copy.text-14
            | COPYRIGHT (C) KOREA BROADCAST ADVERTISING CORP. ALL RIGHTS
            | RESERVED.
      ul.social
        li
          a(href='')
            img(src='images/common/facebook.png' alt='ㅇㅇㅇ 페이스북을 새창으로 열기')
        li
          a(href='')
            img.ml-15(src='images/common/blog.png' alt='ㅇㅇㅇ 네이버 블로그를 새창으로 열기')
  button.btn-top-quick
    img.mt-15(src='images/common/reuse/prev_white.png' alt='')
    span TOP
