//- .layer-popup-wrap
//-     .layer-popup#layer-popup_video(style="width: 600px; z-index: 99998; position: absolute; top: 200px; left: 650px; display: block;")
//-         .cont.p-30
//-             video( width="68%" height="100%" controls autoplay="autoplay" muted="muted" title="코로나19 극복 - 최고의씬 비디오")
//-                     // 브라우저별 지원하는 코덱이 달라 mp4, ogg 두가지 영상파일을 제공해야합니다.
//-                     source(src="images/kobaco_40anniversary_mp4_20sec.mp4" type="video/mp4" )
//-         .bottom
//-             a(href="#layer_clse" class="layer-close close") 닫기
//-             a.layer-link(href="#") 바로가기
//-         .not-today.check
//-             input.not-today-999#not_today_video(type="checkbox" name="notToday" value="1")
//-             label.not-today-999(for="not_today_video") 오늘 하루 보지 않기
    //- .layer-popup#layer-popup_999(style="width: 497px; z-index: 99998; position: absolute; top: 30px; left: 30px; display: block;")
    //-     .cont.p-30
    //-         img.layer-popup-image(src="images/main/slider_right_1.png" alt="ㅇㅇㅇ" style="")
    //-         p 위 아래 좌 우 패딩 30px
    //-         p 대한민국 동해물과 백두산이 나라만세 헤이야 디야 백두산ㅇㅇㅇㅇ
    //-         p 대한민국 동해물과 백두산이 나라만세 헤이야 디야 백두산ㅇㅇㅇㅇ
    //-         p 대한민국 동해물과 백두산이 나라만세 헤이야 디야 백두산ㅇㅇㅇㅇ
    //-     .bottom
    //-         a(href="#layer_clse" class="layer-close close") 닫기
    //-         a.layer-link(href="#") 바로가기
    //-     .not-today.check
    //-         input.not-today-999#not_today_999(type="checkbox" name="notToday" value="1")
    //-         label.not-today-999(for="not_today_999") 오늘 하루 보지 않기
